.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.headerHeroSection {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: linear-gradient(#ffffff80, #ffffff80),
    url("./images/wavey.png") top 50% left 50% / cover repeat;
  padding: 0px 32px 64px;
}
.headerHeroSection > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.headerHeroSection > :global(.__wab_flex-container) > *,
.headerHeroSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headerHeroSection > :global(.__wab_flex-container) > picture > img,
.headerHeroSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns__goj1K {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: var(--token-A-SH8_fsROwyc);
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__goj1K > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.columns__goj1K > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__goj1K > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__goj1K > :global(.__wab_flex-container) > *,
.columns__goj1K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__goj1K > :global(.__wab_flex-container) > picture > img,
.columns__goj1K
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__goj1K {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__goj1K > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__goj1K > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 64px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__goj1K > :global(.__wab_flex-container) > *,
  .columns__goj1K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__goj1K > :global(.__wab_flex-container) > picture > img,
  .columns__goj1K
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
.column__kkgKt {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__jIqg6 {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__jIqg6 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__jIqg6 > :global(.__wab_flex-container) > *,
.freeBox__jIqg6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jIqg6 > :global(.__wab_flex-container) > picture > img,
.freeBox__jIqg6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__rQqz7 {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__rQqz7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__rQqz7 > :global(.__wab_flex-container) > *,
.freeBox__rQqz7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rQqz7 > :global(.__wab_flex-container) > picture > img,
.freeBox__rQqz7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__yZ1Y3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
.text__seHa4 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--token-jdnsDJWuRhaID);
  background: #ffffff;
  padding: 4px 8px;
}
.text__hmt6N {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: var(--token-fHhtvy5cWCqw0);
}
.text__iZfSd {
  font-size: 20px;
  color: var(--token-jdnsDJWuRhaID);
  line-height: 28px;
}
.freeBox__sziP {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__sziP > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__sziP > :global(.__wab_flex-container) > *,
.freeBox__sziP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sziP > :global(.__wab_flex-container) > picture > img,
.freeBox__sziP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__f2TLg:global(.__wab_instance) {
  position: relative;
}
.svg__bDoJ0 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__yQd0F {
  height: auto;
}
.svg__qp57Q {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__dzmw8:global(.__wab_instance) {
  position: relative;
}
.svg__zMGc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___1AY7 {
  height: auto;
  font-weight: 400;
}
.svg__aJumm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__vml7J {
  display: flex;
  position: relative;
  flex-direction: column;
}
.signUpPrompt:global(.__wab_instance) {
  position: relative;
  width: auto;
}
.valuePropsSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__i71Is {
  flex-direction: column;
  max-width: var(--token-A-SH8_fsROwyc);
  display: flex;
  height: auto;
}
.freeBox__i71Is > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__i71Is > :global(.__wab_flex-container) > *,
.freeBox__i71Is > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__i71Is > :global(.__wab_flex-container) > picture > img,
.freeBox__i71Is
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__iujRg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__t83G4 {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-fHhtvy5cWCqw0);
  line-height: 1;
}
.text___2LKVz {
  font-size: 20px;
  color: var(--token-jdnsDJWuRhaID);
  text-align: left;
  line-height: 28px;
}
.freeBox__bmeor {
  flex-direction: column;
  max-width: var(--token-A-SH8_fsROwyc);
  display: flex;
  position: relative;
  margin-top: 64px;
}
.freeBox__bmeor > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__bmeor > :global(.__wab_flex-container) > *,
.freeBox__bmeor > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bmeor > :global(.__wab_flex-container) > picture > img,
.freeBox__bmeor
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bmeor {
    max-width: var(--token-A-SH8_fsROwyc);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bmeor > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bmeor > :global(.__wab_flex-container) > *,
  .freeBox__bmeor > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__bmeor > :global(.__wab_flex-container) > picture > img,
  .freeBox__bmeor
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox___9V2Su {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox___9V2Su > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox___9V2Su > :global(.__wab_flex-container) > *,
.freeBox___9V2Su > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9V2Su > :global(.__wab_flex-container) > picture > img,
.freeBox___9V2Su
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9V2Su {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9V2Su > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9V2Su > :global(.__wab_flex-container) > *,
  .freeBox___9V2Su > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___9V2Su > :global(.__wab_flex-container) > picture > img,
  .freeBox___9V2Su
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp__rWCn:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__yyy3G {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__eXaaB:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__lJTn {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__ouHEw:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__nE0EQ {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp___7DiiS:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__l2H0G {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.text__vbq7U {
  height: auto;
}
.freeBox__x2CHf {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__x2CHf > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__x2CHf > :global(.__wab_flex-container) > *,
.freeBox__x2CHf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__x2CHf > :global(.__wab_flex-container) > picture > img,
.freeBox__x2CHf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__x2CHf {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__x2CHf > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__x2CHf > :global(.__wab_flex-container) > *,
  .freeBox__x2CHf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__x2CHf > :global(.__wab_flex-container) > picture > img,
  .freeBox__x2CHf
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp__ikwro:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___9InNd {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.text__kHzg1 {
  height: auto;
}
.valueProp__qxUFh:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__tQeM {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__goZX:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__mUaG {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__svtja:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__oBhr5 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.checkpointsSection:global(.__wab_instance) {
  position: relative;
}
.columns___23ThM {
  flex-direction: row;
  max-width: var(--token-A-SH8_fsROwyc);
  display: flex;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns___23ThM > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.columns___23ThM > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns___23ThM > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns___23ThM > :global(.__wab_flex-container) > *,
.columns___23ThM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___23ThM > :global(.__wab_flex-container) > picture > img,
.columns___23ThM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___23ThM {
    max-width: var(--token-A-SH8_fsROwyc);
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___23ThM > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___23ThM > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 64px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___23ThM > :global(.__wab_flex-container) > *,
  .columns___23ThM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___23ThM > :global(.__wab_flex-container) > picture > img,
  .columns___23ThM
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 64px;
  }
}
.column__ueEN {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__kkj0R {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__kkj0R > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__kkj0R > :global(.__wab_flex-container) > *,
.freeBox__kkj0R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kkj0R > :global(.__wab_flex-container) > picture > img,
.freeBox__kkj0R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__burLo {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: var(--token-A64jnQdgPQfq8);
}
.h2___6OieJ {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-c4ZmUi8LZ2Zmi);
  line-height: 1;
}
.text__mJp3I {
  font-size: 20px;
  color: var(--token-r61C08g4aifXO);
  line-height: 28px;
  height: auto;
}
.button__ne265:global(.__wab_instance) {
  position: relative;
}
.svg__txI1 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__tzzEm {
  color: var(--token-96eKjiaRqv2JV);
}
.svg__lw7Hp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-96eKjiaRqv2JV);
}
.column___8Xj5X {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__iOTek {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  min-width: 0;
}
.listItem__vzPt:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .listItem__vzPt:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.text__aqQna {
  color: var(--token-c4ZmUi8LZ2Zmi);
}
.svg__flsSd {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-A64jnQdgPQfq8);
}
.listItem__yUpWy:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__xRujo {
  color: var(--token-c4ZmUi8LZ2Zmi);
}
.svg___29XoF {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-A64jnQdgPQfq8);
}
.listItem__hmYh8:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__oq1Ab {
  height: auto;
  color: var(--token-c4ZmUi8LZ2Zmi);
}
.svg__m2Qus {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-A64jnQdgPQfq8);
}
.listItem__rHDg:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__sxlms {
  height: auto;
  color: var(--token-c4ZmUi8LZ2Zmi);
}
.svg___91YyG {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-A64jnQdgPQfq8);
}
.listItem__ouLtw:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___8AeTq {
  height: auto;
  color: var(--token-c4ZmUi8LZ2Zmi);
}
.svg__fSqsf {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-A64jnQdgPQfq8);
}
.pricingSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__wqJho {
  flex-direction: column;
  max-width: var(--token-A-SH8_fsROwyc);
  display: flex;
  position: relative;
  top: auto;
  left: auto;
}
.freeBox__wqJho > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__wqJho > :global(.__wab_flex-container) > *,
.freeBox__wqJho > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wqJho > :global(.__wab_flex-container) > picture > img,
.freeBox__wqJho
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wqJho {
    max-width: var(--token-A-SH8_fsROwyc);
    display: flex;
    position: relative;
    flex-direction: column;
    top: auto;
    left: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wqJho > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wqJho > :global(.__wab_flex-container) > *,
  .freeBox__wqJho > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__wqJho > :global(.__wab_flex-container) > picture > img,
  .freeBox__wqJho
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__rk08H {
  flex-direction: column;
  display: flex;
}
.freeBox__rk08H > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__rk08H > :global(.__wab_flex-container) > *,
.freeBox__rk08H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rk08H > :global(.__wab_flex-container) > picture > img,
.freeBox__rk08H
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__kMiq0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__e4YOg {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-c4ZmUi8LZ2Zmi);
  line-height: 1;
}
.text__zVCu {
  font-size: 20px;
  color: var(--token-r61C08g4aifXO);
  text-align: center;
  line-height: 28px;
  height: auto;
}
.columns__aVfZ {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 1920px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__aVfZ > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
}
.columns__aVfZ > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__aVfZ > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__aVfZ > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aVfZ {
    display: flex;
    flex-direction: row;
    position: relative;
    max-width: 1920px;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aVfZ > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aVfZ > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aVfZ > :global(.__wab_flex-container) > *,
  .columns__aVfZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__aVfZ > :global(.__wab_flex-container) > picture > img,
  .columns__aVfZ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
.column__u5D4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard__sLwV7:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .priceCard__sLwV7:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.valueProp__l2OuA:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__lBdGp {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__o6FzL:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__hDrFe {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__b0Yx {
  height: auto;
}
.column__ekYMk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard__rXvg8:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp___92Z6M:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__yikOy {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__obRir:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__duBz {
  height: auto;
}
.svg___42BMe {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__pcVpq:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__bF4Ko {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__ag9Pp:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__armuU {
  height: auto;
}
.svg__qP9Mi {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__hJmeo {
  height: auto;
}
.column__oc0Cs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard__mFsiB:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .priceCard__mFsiB:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.valueProp__zTkgm:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___9A71P {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___3ABa4:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__yuUa {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__khnRp {
  height: auto;
}
.shopBannersSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__b1EJf {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__b1EJf > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__b1EJf > :global(.__wab_flex-container) > *,
.freeBox__b1EJf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__b1EJf > :global(.__wab_flex-container) > picture > img,
.freeBox__b1EJf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__b1EJf {
    position: relative;
  }
}
.text__n4EfL {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__nIlRf {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-fHhtvy5cWCqw0);
  line-height: 1;
  height: auto;
}
.svg___2Zjz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__q1ZRp {
  height: auto;
  width: auto;
}
.svg__lHbnn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__qiJtV {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 1920px;
  width: 100%;
  min-width: 0;
}
.freeBox__qiJtV > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__qiJtV > :global(.__wab_flex-container) > *,
.freeBox__qiJtV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qiJtV > :global(.__wab_flex-container) > picture > img,
.freeBox__qiJtV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qiJtV {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1920px;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qiJtV > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qiJtV > :global(.__wab_flex-container) > *,
  .freeBox__qiJtV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__qiJtV > :global(.__wab_flex-container) > picture > img,
  .freeBox__qiJtV
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.text__hEeb {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__uX3Jm {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-fHhtvy5cWCqw0);
  line-height: 1;
  height: auto;
}
.svg__qJgFf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__gShsc {
  height: auto;
  width: auto;
}
.svg__mrEe9 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.banner__hzbml:global(.__wab_instance) {
  position: relative;
}
.text__sKaXf {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__kNXsQ {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-fHhtvy5cWCqw0);
  line-height: 1;
  height: auto;
}
.svg__hi2Wi {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__tWlXw {
  height: auto;
  width: auto;
}
.svg__zJ4J {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.logoCloudSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__fwTHn {
  flex-direction: row;
  max-width: var(--token-A-SH8_fsROwyc);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
}
.freeBox__fwTHn > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__fwTHn > :global(.__wab_flex-container) > *,
.freeBox__fwTHn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fwTHn > :global(.__wab_flex-container) > picture > img,
.freeBox__fwTHn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 64px;
}
.img__yQghZ {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__yQghZ > picture > img {
  object-fit: cover;
}
.img__yQghZ > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__qlKSx {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__qlKSx > picture > img {
  object-fit: cover;
}
.img__qlKSx > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__uDfVs {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__uDfVs > picture > img {
  object-fit: cover;
}
.img__uDfVs > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__oPKzi {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__oPKzi > picture > img {
  object-fit: cover;
}
.img__oPKzi > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img___8Gq05 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img___8Gq05 > picture > img {
  object-fit: cover;
}
.img___8Gq05 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.testimonialsSection:global(.__wab_instance) {
  position: relative;
}
.columns__bMsjb {
  flex-direction: row;
  max-width: var(--token-A-SH8_fsROwyc);
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__bMsjb > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.columns__bMsjb > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__bMsjb > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__bMsjb > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__bMsjb > :global(.__wab_flex-container) > *,
.columns__bMsjb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__bMsjb > :global(.__wab_flex-container) > picture > img,
.columns__bMsjb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bMsjb {
    max-width: var(--token-A-SH8_fsROwyc);
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bMsjb > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bMsjb > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bMsjb > :global(.__wab_flex-container) > *,
  .columns__bMsjb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__bMsjb > :global(.__wab_flex-container) > picture > img,
  .columns__bMsjb
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 32px;
    margin-top: 32px;
  }
}
.column__wW4P6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial__sYHhO:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.column__yxdux {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial__bc7Ay:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.column__q1Vcy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial__f9RO:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__tvgzd {
  height: auto;
}
.callToActionSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__rvX4R {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__rvX4R > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__rvX4R > :global(.__wab_flex-container) > *,
.freeBox__rvX4R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rvX4R > :global(.__wab_flex-container) > picture > img,
.freeBox__rvX4R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text___8UTqZ {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: var(--token-c4ZmUi8LZ2Zmi);
}
.text__tUcPt {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-c4ZmUi8LZ2Zmi);
  line-height: 1;
}
.text__w40Mz {
  font-size: 20px;
  color: var(--token-r61C08g4aifXO);
  line-height: 28px;
}
.freeBox__wqXKe {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__wqXKe > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__wqXKe > :global(.__wab_flex-container) > *,
.freeBox__wqXKe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wqXKe > :global(.__wab_flex-container) > picture > img,
.freeBox__wqXKe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__oKlKi:global(.__wab_instance) {
  position: relative;
}
.svg__zZitm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__tBvye {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__fkwM7:global(.__wab_instance) {
  position: relative;
}
.svg__oo41O {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__t3OVo {
  height: auto;
  font-weight: 400;
}
.svg__ajpgy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
