.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 64px;
}
.freeBox___6QwOi {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.freeBox___6QwOi > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox___6QwOi > :global(.__wab_flex-container) > *,
.freeBox___6QwOi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6QwOi > :global(.__wab_flex-container) > picture > img,
.freeBox___6QwOi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6QwOi {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6QwOi > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6QwOi > :global(.__wab_flex-container) > *,
  .freeBox___6QwOi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___6QwOi > :global(.__wab_flex-container) > picture > img,
  .freeBox___6QwOi
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__jdzwg {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__jdzwg > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__jdzwg > :global(.__wab_flex-container) > *,
.freeBox__jdzwg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jdzwg > :global(.__wab_flex-container) > picture > img,
.freeBox__jdzwg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__cTfKm {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__cTfKm > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__cTfKm > :global(.__wab_flex-container) > *,
.freeBox__cTfKm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cTfKm > :global(.__wab_flex-container) > picture > img,
.freeBox__cTfKm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__agEs5 {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__agEs5 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__agEs5 > :global(.__wab_flex-container) > *,
.freeBox__agEs5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__agEs5 > :global(.__wab_flex-container) > picture > img,
.freeBox__agEs5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.svg__s5Jaw {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-jdnsDJWuRhaID);
  flex-shrink: 0;
}
.svg__munG {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-jdnsDJWuRhaID);
  flex-shrink: 0;
}
.svg__uSuR {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-jdnsDJWuRhaID);
  flex-shrink: 0;
}
.freeBox___9ZpcG {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox___9ZpcG > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___9ZpcG > :global(.__wab_flex-container) > *,
.freeBox___9ZpcG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9ZpcG > :global(.__wab_flex-container) > picture > img,
.freeBox___9ZpcG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__zjnOe {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-jdnsDJWuRhaID);
  height: auto;
}
.button__gszSx:global(.__wab_instance) {
  position: relative;
}
.svg__bdknA {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__pcgfp {
  height: auto;
}
.svg__xh4Z9 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__lYOyq:global(.__wab_instance) {
  position: relative;
}
.svg__pQngc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__z3BTk {
  height: auto;
}
.svg__uPmJ3 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__dlRa0:global(.__wab_instance) {
  position: relative;
}
.svg__pNrgL {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__tPC {
  height: auto;
}
.svg___04Qh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__p7J9L:global(.__wab_instance) {
  position: relative;
}
.svg__eRoh1 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__z6Xi2 {
  height: auto;
}
.svg___7Px9Y {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox___7Cu3W {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox___7Cu3W > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___7Cu3W > :global(.__wab_flex-container) > *,
.freeBox___7Cu3W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7Cu3W > :global(.__wab_flex-container) > picture > img,
.freeBox___7Cu3W
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__zxf9O {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-jdnsDJWuRhaID);
  height: auto;
}
.button__oOgPm:global(.__wab_instance) {
  position: relative;
}
.svg__lU8Nu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__irXxS {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__maxSu:global(.__wab_instance) {
  position: relative;
}
.svg__pAgV6 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__drcYo {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__u8Val:global(.__wab_instance) {
  position: relative;
}
.svg__gfrzI {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__vrzcA {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__uQkfz {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__uQkfz > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__uQkfz > :global(.__wab_flex-container) > *,
.freeBox__uQkfz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uQkfz > :global(.__wab_flex-container) > picture > img,
.freeBox__uQkfz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text___9VXjy {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-jdnsDJWuRhaID);
  height: auto;
}
.button___0Zyxz:global(.__wab_instance) {
  position: relative;
}
.svg__q8Rlw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__tffqo {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__gnfFe:global(.__wab_instance) {
  position: relative;
}
.svg__kBYs {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__gy6Lz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__sKgzh:global(.__wab_instance) {
  position: relative;
}
.svg__v2G7W {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__jaYho {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__pd9UO:global(.__wab_instance) {
  position: relative;
}
.svg__a627V {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___2Qx0E {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
